In [1]:
import pandas as pd
from scipy.stats import zscore

soju = pd.read_excel('Soju_rankings.xlsx')

In [3]:
soju.columns = ['Soju Flavour','Amy','Rebekah','Christine','Vivian']
people = ['Amy','Rebekah','Christine','Vivian']

In [9]:
standardized_score = pd.DataFrame()

# zscore is found per column i.e. per person rather than calculating group mean 

standardized_score['Soju Flavour'] = soju['Soju Flavour']
standardized_score[people] = zscore(soju[people])

standardized_score

  Soju Flavour       Amy   Rebekah  Christine    Vivian
0  Apple mango -1.962858 -1.781453  -2.208631 -2.438596
1       Citron -0.132213  1.425162   0.441726  0.544541
2        Grape  0.600045 -0.865277   1.104315  0.970703
3        Apple  0.233916  0.508987  -0.220863  0.757622
4       Yogurt  0.783109  0.050899   0.773021 -0.733946
5        Peach  0.966174  0.967075  -0.883452  0.544541
6        Plum   0.508513  0.967075   0.110432  0.544541
7    Blueberry -1.596729 -0.407189  -0.220863 -0.307784
8   Strawberry  0.600045 -0.865277   1.104315  0.118378

In [19]:
# apply zscores to the range 1-10 to make scores readable 

def stretch_range(person):
    smallest = min(person)
    biggest = max(person)
    a = 9/(-smallest + biggest)
    b = 1 - (a*smallest)

    person *= a
    person += b

    return person

In [20]:
# apply function

for person in people:
    standardized_score[person] = stretch_range(standardized_score[person])

In [27]:
# final scores

standardized_score = standardized_score.round(1)
standardized_score

  Soju Flavour   Amy  Rebekah  Christine  Vivian
0  Apple mango   1.0      1.0        1.0     1.0
1       Citron   6.6     10.0        8.2     8.9
2        Grape   8.9      3.6       10.0    10.0
3        Apple   7.7      7.4        6.4     9.4
4       Yogurt   9.4      6.1        9.1     5.5
5        Peach  10.0      8.7        4.6     8.9
6        Plum    8.6      8.7        7.3     8.9
7    Blueberry   2.1      4.9        6.4     6.6
8   Strawberry   8.9      3.6       10.0     7.8

In [29]:
standardized_score.to_excel('soju_rankings_standardized.xlsx')